<!DOCTYPE html>
<html>
   <head>
      <title>Drawing</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../css/style.css" />
      <script src="socket.io/socket.io.js"></script>
      <!-- <script src="../js/drawing.js"></script> -->
      <script src="../js/erase.js"></script>
   </head>
   <body>
      <canvas id="drawing"></canvas>

      <div id="eraser"> 
        <button id="erase_1pt">Small 지우개</button>
        <button id="erase_2pt">Large 지우개</button>
        <button id="erase_all">전체 지우기</button>
      </div>
   </body>
</html>